<div class="navbar bg-base-100 shadow-md sticky top-0 z-50">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/branches">Find Branches</a></li>
        <!-- <li>
          <a>Services</a>
          <ul class="p-2">
            <li><a routerLink="/services/banking">Banking</a></li>
            <li><a routerLink="/services/investments">Investments</a></li>
            <li><a routerLink="/services/loans">Loans</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" routerLink="/">BankLocatr!</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/branches">Find Branches</a></li>
      <!-- <li>
        <details>
          <summary>Services</summary>
          <ul class="p-2">
            <li><a routerLink="/services/banking">Banking</a></li>
            <li><a routerLink="/services/investments">Investments</a></li>
            <li><a routerLink="/services/loans">Loans</a></li>
          </ul>
        </details>
      </li> -->
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn btn-primary" routerLink="/admin">Admin</a>
  </div>
</div>
